html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas
{
	width: 60%;
	height: 400px;
}

.panel-body
{
	width: 100%;
}

#iw_container .iw_title {
	font-size: 16px;
	font-weight: bold;
}
.iw_content {
	padding: 15px 15px 15px 0;
}

#conteudo-form{
	width:40%;
	margin: 0 auto;
}

.conteudo-form{
	width:80%;
	margin: 0 auto;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

      html, body {
        margin: 0;
        padding: 0;
      }
      #map {
        height: 500px;
        float: left;
        width: 70%;
      }
#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

      #right-panel {
        margin: 20px;
        border-width: 2px;
        width: 20%;
        float: left;
        text-align: left;
        padding-top: 20px;
      }
      #directions-panel {
        margin-top: 20px;
        background-color: #FFEE77;
        padding: 10px;
      }